.head1 {

    background-color: bisque;
    width: 750px;
    height: 110px;
    position: relative;
    left: 250px;
}

nav {
    background-color: rgb(221, 202, 239);
    width: 140px;
    height: 550px;
    position: relative;
    top:-110px;
    left:100px;
}

aside {
    background-color: rgb(202, 239, 219);
    width: 140px;
    height: 550px;
    position: relative;
    left: 1010px;
    top:-660px;

}

.foot1 {

    background-color: rgb(171, 169, 169);
    width: 750px;
    height: 60px;
    position: relative;
    left:250px;
    top:-1020px;


}

.s1 {
    background-color: rgb(158, 158, 233);
    width: 700px;
    height: 300px;
    position: relative;
    left:280px;
    top:-1060px;
}