.d1 {    
    position:absolute;
    top: 120px;
    left:250px;
    width: 350px;
    height: 220px;
    background-color: antiquewhite;
    padding: 10px;
}

.d1 h3 {
    color: brown;
}

.d1 img {
    width: 190px;
    height: 150px;
}

.d1 h4 {

    position: relative;
    left:200px;
    top:-50px;
    color: cadetblue;
}

.d1 button {
    position: relative;
    left:230px;
    top:-180px;
    padding: 20px;
    border-radius: 80px;
    background-color: rgb(175, 131, 131);
    color: aliceblue;
    
}

.d1 button:hover {
background-color: brown;

}



.d2 {
    position:absolute;
    top: 120px;
    left:650px;
    width: 350px;
    height: 220px;
    background-color: antiquewhite;
    padding: 10px;

}


.d2 h3 {

    color: brown;
}

.d2 img {

    width: 190px;
    height: 150px;
}

.d2 h4 {

    position: relative;
    left:200px;
    top:-50px;
    color: cadetblue;
}

.d2 button {

    position: relative;
    left:230px;
    top:-180px;
    padding: 20px;
    border-radius: 80px;
    background-color: rgb(175, 131, 131);
    color: aliceblue;
    
}

.d2 button:hover {
background-color: brown;

}



.d3 {
    position:absolute;
    top: 380px;
    left:250px;
    width: 330px;
    height: 280px;
    background-color: antiquewhite;
    padding: 20px;

}

.d3 h3 {
    color: cadetblue;
}

.d3 button {

    padding: 10px;
    border-radius: 100px;
    background-color: rgb(201, 241, 241);
}

.d3 button:hover {
    background-color: cadetblue;
}

.d4 {
    position:absolute;
    top: 380px;
    left:650px;
    width: 350px;
    height: 220px;
    background-color: antiquewhite;
    padding: 10px;

}

.nav11 {

    
    position: absolute;
    width: 570px;
    height: 50px;
    background-color: bisque;
    top:10px;
    left: 650px;

   

}

.nav1 {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
.nav1 li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

.nav1 a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

.nav1 a:hover {
	background-color:#009;
	color:#fff;
}

.t1 {
    position: relative;
    left: 550px;
    top:70px;
    text-decoration: underline;
    
}

.s2 {

    position:relative;
    left:50px;
    top:750px;
    padding: 50px;

}

.s3 {

    position:relative;
    top:650px;
    left:50px;
    padding: 50px;
}

.s3 h4{

    position:relative;
    margin-bottom: 30px;
    left:400px;
    text-decoration: underline;
   
}

.s3 p{
    color: #fff;
    background-color: rgb(49, 48, 48);
    width: 140px;
    padding: 10px;
}


